<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npg_light_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{1,234},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{136,221}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{1243,1},{136,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{136,229}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{1105,1},{136,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{139,1},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{139,234},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{277,1},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{277,234},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{415,1},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{415,234},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{553,1},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{553,234},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{691,1},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{691,234},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{829,1},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{829,234},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{967,1},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,231}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{967,234},{136,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{136,229}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{1105,232},{136,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{136,221}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{1243,224},{136,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{136,211}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{1381,1},{136,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npg_light_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{136,209}</string>
                <key>spriteSourceSize</key>
                <string>{136,231}</string>
                <key>textureRect</key>
                <string>{{1381,214},{136,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>npg_draw_light.png</string>
            <key>size</key>
            <string>{1518,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5296bf0ac2f7e5aed096c94630c0d85:79a81960972461e9e7d5fae38b4e4bff:5e8136a18b56ac92fc2a7ae5a03cc6f9$</string>
            <key>textureFileName</key>
            <string>npg_draw_light.png</string>
        </dict>
    </dict>
</plist>
